<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block head_title %}Replace this value{% endblock %}CFE</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
      <!-- <div class="row"> -->
        <!-- <div class="col-6 mx-auto">
          <h1>{{title}}</h1> -->
          {% block content %}
          {% endblock %}
        <!-- </div> -->
      <!-- </div> -->
    </div>
    {% include 'js.html' %}
  </body>
</html>